Repository kiwicom/orbit, pull requests merged in 2023-09, with the labels that each got.

#3984 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/flight-services.svg
  packages/orbit-components/src/icons/svg/messages-outline.svg
  packages/orbit-components/src/icons/svg/taxi.svg
Labels: Icons

#3988 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/baggage-set.svg
Labels: Icons

#3993 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/share-android-outline.svg
Labels: Icons

#3965 feat(Grid): migrate Grid to tailwind
  packages/orbit-components/cypress/integration/index.tsx
  packages/orbit-components/cypress/integration/pages/grid-media-query.test.ts
  packages/orbit-components/cypress/integration/pages/grid-mediaquery-props.tsx
  packages/orbit-components/src/Layout/__tests__/index.test.tsx
  packages/orbit-components/src/utils/Grid/__tests__/__snapshots__/index.test.tsx.snap
  packages/orbit-components/src/utils/Grid/helpers/getDisplay.ts
  packages/orbit-components/src/utils/Grid/helpers/getViewportGridStyles.ts
  packages/orbit-components/src/utils/Grid/index.tsx
Labels: Tailwind

#4004 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/new-window.svg
  packages/orbit-components/src/icons/svg/pool.svg
Labels: Icons

#4014 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/copy.svg
  packages/orbit-components/src/icons/svg/ticket-outline.svg
Labels: Icons

#4017 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/airplane.svg
  packages/orbit-components/src/icons/svg/boarding-gate.svg
  packages/orbit-components/src/icons/svg/relax.svg
  packages/orbit-components/src/icons/svg/walk.svg
Labels: Icons

#4021 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/circle-empty.svg
Labels: Icons

#4030 chore: update contributors
  docs/plugins/contributors/fetchedUsers.json
Labels: Documentation

#4045 chore(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/flight-direct.svg
  packages/orbit-components/src/icons/svg/flight-multicity.svg
  packages/orbit-components/src/icons/svg/online-checkin-off.svg
  packages/orbit-components/src/icons/svg/route-two-stops.svg
  packages/orbit-components/src/icons/svg/toilets.svg
Labels: Icons

#4040 Migrate ErrorFormTooltip to Tailwind
  packages/orbit-components/src/ErrorFormTooltip/Tooltip/consts.ts
  packages/orbit-components/src/ErrorFormTooltip/Tooltip/helpers/__tests__/resolveColor.test.ts
  packages/orbit-components/src/ErrorFormTooltip/Tooltip/helpers/resolveColor.ts
  packages/orbit-components/src/ErrorFormTooltip/Tooltip/helpers/resolvePlacement.ts
  packages/orbit-components/src/ErrorFormTooltip/Tooltip/index.tsx
Labels: Tailwind
