Repository kiwicom/orbit, pull requests merged in 2023-04, with the labels that each got.

#3799 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/colored-viber.svg
  packages/orbit-components/src/icons/svg/google.svg
  packages/orbit-components/src/icons/svg/tiktok.svg
Labels: Icons

#3807 feat(icons): update icons from Figma
  packages/orbit-components/src/icons/svg/ai.svg
Labels: Icons

#3816 feat(Modal): remove flex-none from ModalFooter
  docs/src/__examples__/Modal/FIXED_FOOTER.tsx
  packages/orbit-components/src/ErrorForms.stories.tsx
  packages/orbit-components/src/Modal/Modal.stories.tsx
  packages/orbit-components/src/Modal/ModalFooter/index.tsx
  packages/orbit-components/src/SkipLink/SkipLink.stories.tsx
Labels: Breaking

#3814 Remove border from badges and change type values
  docs/src/__examples__/Badge/DEFAULT.tsx
  docs/src/__examples__/Badge/TYPES.tsx
  docs/src/__examples__/NotificationBadge/DEFAULT.tsx
  docs/src/__examples__/NotificationBadge/TYPES.tsx
  docs/src/components/Navbar/index.tsx
  packages/orbit-components/src/Badge/Badge.stories.tsx
  packages/orbit-components/src/Badge/README.md
  packages/orbit-components/src/Badge/__tests__/index.test.tsx
  packages/orbit-components/src/Badge/consts.ts
  packages/orbit-components/src/Badge/index.js.flow
  packages/orbit-components/src/Badge/index.tsx
  packages/orbit-components/src/Badge/types.d.ts
  packages/orbit-components/src/Card/Card.stories.tsx
  packages/orbit-components/src/NotificationBadge/NotificationBadge.stories.tsx
  packages/orbit-components/src/NotificationBadge/README.md
  packages/orbit-components/src/NotificationBadge/__tests__/index.test.tsx
  packages/orbit-components/src/Tile/Tile.stories.tsx
  packages/orbit-components/src/TileGroup/TileGroup.stories.tsx
  packages/orbit-components/src/primitives/BadgePrimitive/README.md
  packages/orbit-components/src/primitives/BadgePrimitive/__tests__/index.test.tsx
  packages/orbit-components/src/primitives/BadgePrimitive/index.js.flow
  packages/orbit-components/src/primitives/BadgePrimitive/index.tsx
  packages/orbit-components/src/primitives/Primitives.stories.tsx
  packages/orbit-themer/src/Components/Badge/index.tsx
  packages/orbit-themer/src/Tabs/ColorTab.tsx
Labels: Breaking

#3818 feat(tokens): update palette tokens from figma
  packages/orbit-design-tokens/output/theo-spec.android.xml
  packages/orbit-design-tokens/output/theo-spec.ios.json
  packages/orbit-design-tokens/pages/theo-spec.kiwi.html
  packages/orbit-design-tokens/src/theo/theo-spec.json
Labels: Tokens

#3812 Button update
  docs/src/theme.tsx
  packages/orbit-components/src/Alert/AlertButton/consts.ts
  packages/orbit-components/src/Alert/AlertButton/helpers/getAlertButtonStyles.ts
  packages/orbit-components/src/Alert/AlertButton/helpers/getAlertButtonTypeToken.ts
  packages/orbit-components/src/primitives/ButtonPrimitive/common/__tests__/__snapshots__/getIconContainer.test.ts.snap
  packages/orbit-components/src/primitives/ButtonPrimitive/common/getIconContainer.ts
  packages/orbit-design-tokens/output/theo-spec.android.xml
  packages/orbit-design-tokens/output/theo-spec.common.js
  packages/orbit-design-tokens/output/theo-spec.cssmodules.css
  packages/orbit-design-tokens/output/theo-spec.ios.json
  packages/orbit-design-tokens/output/theo-spec.json
  packages/orbit-design-tokens/output/theo-spec.less
  packages/orbit-design-tokens/output/theo-spec.sass
  packages/orbit-design-tokens/output/theo-spec.scss
  packages/orbit-design-tokens/output/theo-spec.styl
  packages/orbit-design-tokens/scripts/__tests__/generateXMLDesignTokens.ts
  packages/orbit-design-tokens/src/__tests__/__snapshots__/index.test.ts.snap
  packages/orbit-design-tokens/src/index.ts
  packages/orbit-design-tokens/src/theo/theo-spec.json
  packages/orbit-design-tokens/src/types.d.ts
Labels: Breaking

#3825 feat(tokens): update palette tokens from figma
  packages/orbit-design-tokens/output/theo-spec.android.xml
Labels: Tokens

#3832 chore: update contributors
  docs/plugins/contributors/fetchedUsers.json
Labels: Documentation

#3835 feat(tokens): update palette tokens from figma
  packages/orbit-design-tokens/output/theo-spec.android.xml
  packages/orbit-design-tokens/output/theo-spec.cssmodules.css
  packages/orbit-design-tokens/output/theo-spec.less
  packages/orbit-design-tokens/output/theo-spec.scss
Labels: Tokens
